In [0]:
import pandas as pd

In [0]:
name_basics =pd.read_csv('/content/drive/My Drive/Colab Notebooks/Unstructured Project/name.basics.tsv',delimiter='\t',encoding='utf-8')

In [0]:
name_basics.head()

      nconst  ...                           knownForTitles
0  nm0000001  ...  tt0050419,tt0053137,tt0072308,tt0043044
1  nm0000002  ...  tt0071877,tt0117057,tt0038355,tt0037382
2  nm0000003  ...  tt0054452,tt0049189,tt0059956,tt0057345
3  nm0000004  ...  tt0077975,tt0072562,tt0080455,tt0078723
4  nm0000005  ...  tt0069467,tt0050976,tt0083922,tt0050986

[5 rows x 6 columns]

Contains the name information for the crew members. PrimaryName, primary professon is important. This connects to the nconst field on the title principals table.

In [0]:
title_akas =pd.read_csv('/content/drive/My Drive/Colab Notebooks/Unstructured Project/title.akas.tsv',delimiter='\t',encoding='utf-8')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
title_akas.head()

     titleId  ordering  ... attributes isOriginalTitle
0  tt0000001         1  ...         \N               0
1  tt0000001         2  ...         \N               0
2  tt0000001         3  ...         \N               0
3  tt0000001         4  ...         \N               0
4  tt0000001         5  ...         \N               1

[5 rows x 8 columns]

In [0]:
len(title_akas)

19322610

Important fields: Region, Language, attributes.

In [0]:
title_basics =pd.read_csv('/content/drive/My Drive/Colab Notebooks/Unstructured Project/title.basics.tsv',delimiter='\t',encoding='utf-8')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
title_basics.head(100)

       tconst titleType  ... runtimeMinutes                    genres
0   tt0000001     short  ...              1         Documentary,Short
1   tt0000002     short  ...              5           Animation,Short
2   tt0000003     short  ...              4  Animation,Comedy,Romance
3   tt0000004     short  ...             \N           Animation,Short
4   tt0000005     short  ...              1              Comedy,Short
..        ...       ...  ...            ...                       ...
95  tt0000097     short  ...             \N         Documentary,Short
96  tt0000098     short  ...             \N         Documentary,Short
97  tt0000099     short  ...             \N         Documentary,Short
98  tt0000100     short  ...             \N         Documentary,Short
99  tt0000101     short  ...             \N         Documentary,Short

[100 rows x 9 columns]

In [0]:
len(title_basics)

6321302

This dataset contains unique title id's.

In [0]:
len(title_basics['tconst'].unique())

6321302

In [0]:
title_ratings =pd.read_csv('/content/drive/My Drive/Colab Notebooks/Unstructured Project/title.ratings.tsv',delimiter='\t',encoding='utf-8')

In [0]:
title_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.6      1550
1  tt0000002            6.1       186
2  tt0000003            6.5      1207
3  tt0000004            6.2       113
4  tt0000005            6.1      1934

In [0]:
len(title_ratings['tconst'].unique())

993153

the title type is important. Find out difference between primary and original title, might only need to keep 1. IsAdult is important, startyear, endYear,

In [0]:
title_principals =pd.read_csv('/content/drive/My Drive/Colab Notebooks/Unstructured Project/title.principals.tsv',delimiter='\t',encoding='utf-8')

KeyboardInterrupt: ignored

In [0]:
title_principals.head()

      tconst  ordering  ...                      job   characters
0  tt0000001         1  ...                       \N  ["Herself"]
1  tt0000001         2  ...                       \N           \N
2  tt0000001         3  ...  director of photography           \N
3  tt0000002         1  ...                       \N           \N
4  tt0000002         2  ...                       \N           \N

[5 rows x 6 columns]

In [0]:
title_principals['category'].unique()

array(['self', 'director', 'cinematographer', 'composer', 'producer',
       'editor', 'actor', 'actress', 'writer', 'production_designer',
       'archive_footage', 'archive_sound'], dtype=object)

tconst (string) - alphanumeric unique identifier of the title.
ordering (integer) – a number to uniquely identify rows for a given
titleId.
nconst (string) - alphanumeric unique identifier of the name/person.
category (string) - the category of job that person was in.
job (string) - the specific job title if applicable, else.
characters (string) - the name of the character played if applicable,
else.





We potentially need the director, actor, and actress of the movie.

tconst (string) - alphanumeric unique identifier of the title.
averageRating – weighted average of all the individual user ratings.
numVotes - number of votes the title has received.

The average rating and numVotes columns are important for the title.

In [0]:
title_basics.merge(title_ratings, left_on='tconst', right_on='tconst',how='left')

            tconst  titleType  ... averageRating numVotes
0        tt0000001      short  ...           5.6   1550.0
1        tt0000002      short  ...           6.1    186.0
2        tt0000003      short  ...           6.5   1207.0
3        tt0000004      short  ...           6.2    113.0
4        tt0000005      short  ...           6.1   1934.0
...            ...        ...  ...           ...      ...
6321297  tt9916848  tvEpisode  ...           NaN      NaN
6321298  tt9916850  tvEpisode  ...           NaN      NaN
6321299  tt9916852  tvEpisode  ...           NaN      NaN
6321300  tt9916856      short  ...           NaN      NaN
6321301  tt9916880  tvEpisode  ...           NaN      NaN

[6321302 rows x 11 columns]

In [0]:
title1 = title_basics.merge(title_ratings, left_on='tconst', right_on='tconst',how='left')
title1

            tconst  titleType  ... averageRating numVotes
0        tt0000001      short  ...           5.6   1550.0
1        tt0000002      short  ...           6.1    186.0
2        tt0000003      short  ...           6.5   1207.0
3        tt0000004      short  ...           6.2    113.0
4        tt0000005      short  ...           6.1   1934.0
...            ...        ...  ...           ...      ...
6321297  tt9916848  tvEpisode  ...           NaN      NaN
6321298  tt9916850  tvEpisode  ...           NaN      NaN
6321299  tt9916852  tvEpisode  ...           NaN      NaN
6321300  tt9916856      short  ...           NaN      NaN
6321301  tt9916880  tvEpisode  ...           NaN      NaN

[6321302 rows x 11 columns]

In [0]:
len(title_akas)

19322610

In [0]:
title2 = title_akas.merge(title1, left_on='titleId', right_on='tconst',how='left')
title2.head(20)

      titleId  ordering  ... averageRating numVotes
0   tt0000001         1  ...           5.6   1550.0
1   tt0000001         2  ...           5.6   1550.0
2   tt0000001         3  ...           5.6   1550.0
3   tt0000001         4  ...           5.6   1550.0
4   tt0000001         5  ...           5.6   1550.0
5   tt0000002         1  ...           6.1    186.0
6   tt0000002         2  ...           6.1    186.0
7   tt0000002         3  ...           6.1    186.0
8   tt0000002         4  ...           6.1    186.0
9   tt0000002         5  ...           6.1    186.0
10  tt0000002         6  ...           6.1    186.0
11  tt0000003         1  ...           6.5   1207.0
12  tt0000003         2  ...           6.5   1207.0
13  tt0000003         3  ...           6.5   1207.0
14  tt0000003         4  ...           6.5   1207.0
15  tt0000003         5  ...           6.5   1207.0
16  tt0000003         6  ...           6.5   1207.0
17  tt0000004         1  ...           6.2    113.0
18  tt0000004         2  ...           6.2    113.0
19  tt0000004         3  ...           6.2    113.0

[20 rows x 19 columns]

In [0]:
title2.to_csv(r'/content/drive/My Drive/Colab Notebooks/Seagate Project/MoviesDataset.csv', index=False)